[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = rootCA.key
distinguished_name = req_distinguished_name
prompt             = no
x509_extensions    = v3_ca

[ req_distinguished_name ]
C  = SE
ST = Denial
L  = Harnosand
O  = Idania AB
CN = $ENV::COMMONNAME

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:true
